.paletadecolores {
  color: #4e584d;
  color: #344938;
  color: #25362b;
  color: #899382;
}

.App {
  text-align: center;
  background-color: #807e7e;
  font-family: "Fira Sans", sans-serif;
}

/* ________________________ NAVBAR ________________________ */

.NavBar {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding: 10px;
  background-color: #000000;
  
}

.NavBar a {
  text-decoration: none;
  color: white;
  transition: transform 0.1s ease-in-out;
}

.NavBar a:visited {
  color: white;
}

.NavBar a:hover{
  transform: scale(1.1);
}
/* ________________________ HOME ________________________ */

.HomeStyle {
  background-image: url("/public/pexels-cátia-matos-1072179.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5px;
}

.HomeStyle h1 {
  font-size: 55px;
}

.HomeStyle p {
  font-size: 20px;
  width: 90vw;
}

.HomeLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}
.HomeLinks img {
  margin: 5px;
  height: 100%;
}

.contenedor-imagen3 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.contenedor-imagen3 img {
  max-height: 100%;
  width: auto;
  border: solid 2px white;
  border-radius: 100%;
}

.Arrow-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Arrow-container img {
  max-height: 100%;
  width: auto;
  border: solid 2px white;
  border-radius: 100%;
  padding: 5px;
  background-color: #000000;
  transition: transform 0.3s ease;
}

.Arrow-container img:hover {
  transform: scale(1.1);
  background-color: #344938;
}

.LinksImgContainer img {
  transition: transform 0.3s ease;
}
.LinksImgContainer img:hover {
  transform: scale(1.05);
}

@media (max-width: 370px) {
  .HomeStyle h1 {
    font-size: 40px;
  }
  
  .HomeStyle p {
    font-size: 18px;
  }
}
/* ________________________ ABOUT ________________________ */

.AboutStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  margin-top:5px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.aboutText {
  width: 50vw;
}

@media (max-width: 670px) {
  .AboutStructure {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    padding: 30px;
  }

  .aboutText {
    width: 100%;
  }
}



/* ________________________ SKILLS ________________________ */

.skillStructure {
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
}

.HardSkills,
.softSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.softSkills{
  gap: 0px;
}

.contenedor-imagen {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen img {
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.contenedor-imagen2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen2 img {
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

@media (max-width: 670px) {
  .HardSkills,
  .softSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95vw;
  }
}
/* ________________________ PROJECTS ________________________ */

.projectStructure {
  background-color: white;
  padding-bottom: 80px;
}

.AllProjects {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.ProjectContainer {
  position: relative;
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.ProjectContainer:hover img {
  opacity: 0.2;
}

.ProjectContainer {
  background-color: black;
  transition: background-color 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.ProjectContainer:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.ProjectContainer a img {
  width: 40px;
}

.ProjectContainer h4,
.ProjectContainer p {
  position: absolute;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.ProjectContainer div {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.ProjectContainer h4 {
  position: absolute;
  top: -40%;
}
.ProjectContainer p {
  position: absolute;
  font-size: 13px;
  top: -10%;
}
.ProjectContainer div {
  position: absolute;
  top: 70%;
  display: flex;
}

.ProjectContainer:hover h4,
.ProjectContainer:hover p,
.ProjectContainer:hover a,
.ProjectContainer:hover div,
.ProjectContainer:hover div a img {
  opacity: 1;
}

/* ________________________ CONTACT ________________________ */
.ContactStyles {
  background-color: #000000;
}

.ContactLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.Arrow-containerContact {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Arrow-containerContact img {
  max-height: 100%;
  width: auto;
  border: solid 2px white;
  border-radius: 100%;
  padding: 5px;
  background-color: #000000;
  transition: transform 0.3s ease;
}

.Arrow-containerContact img:hover {
  transform: scale(1.1);
  background-color: #6a726b;
}

 .tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  display: flex;
}

.tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #777777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 80%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
} 
