.App {
  text-align: center;
}

/* ________________________ NAVBAR ________________________ */

.NavBar{
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 10px;
}

.NavBar a{
  text-decoration: none;
}

.NavBar a:visited{
  color: black;
}

/* ________________________ HOME ________________________ */

.HomeLinks img{
  
  margin: 5px;
}



.profileImg{
  border-radius: 100%;
}

.AboutStructure{
  display: flex;
}

/* ________________________ SKILLS ________________________ */

.HardSkills, .softSkills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.contenedor-imagen {
  height: 50px; /* Establece aquí la altura deseada */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen img {
  max-height: 100%;
  width: auto;
}

.contenedor-imagen2 {
  height: 80px; /* Establece aquí la altura deseada */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen2 img {
  max-height: 100%;
  width: auto;
}