.paletadecolores {
  color: #4e584d;
  color: #344938;
  color: #25362b;
  color: #899382;
}

.App {
  text-align: center;
}

/* ________________________ NAVBAR ________________________ */

.NavBar {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 5px;
}

.NavBar a {
  text-decoration: none;
}

.NavBar a:visited {
  color: black;
}

/* ________________________ HOME ________________________ */

.HomeStyle {
  background-image: url("/public/pexels-cátia-matos-1072179.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeStyle h1 {
  font-size: 55px
}

.HomeStyle p {
  font-size: 20px;
}

.HomeLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}
.HomeLinks img {
  margin: 5px;
  height: 100%;
}

.contenedor-imagen3 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.contenedor-imagen3 img {
  max-height: 100%;
  width: auto;
  border: solid 2px white;
  border-radius: 100%;
}

.Arrow-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Arrow-container img {
  max-height: 100%;
  width: auto;
  border: solid 2px white;
  border-radius: 100%;
  padding: 5px;
  background-color: #25362b;
  transition: transform 0.3s ease;
}

.Arrow-container img:hover {
  transform: scale(1.1); /* Ajusta el valor según el tamaño deseado */
  background-color: #344938;;
}

/* ________________________ ABOUT ________________________ */

.AboutStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px
}

/* ________________________ SKILLS ________________________ */

.HardSkills,
.softSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.contenedor-imagen {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen img {
  max-height: 100%;
  width: auto;
}

.contenedor-imagen2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen2 img {
  max-height: 100%;
  width: auto;
}
